

:root{
    --color-primary: #c3c3c3;
    --color: #0075ff;
    --color-light: #479cff;
    --color-bg: #f6f6f6;
    --color-black: #1e1e1e;
    --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;

  --card-border-radius-1: 0.3rem; 
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;    
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    appearance: 0;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    color:var(--color-gray-200);
    background:var(--color-bg);
    font-size: 0.9rem;
  }
  
  .container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
  }
  
  section{
    margin-top: 3rem;
    width: 100vw;
  }
  
  h1, h2, h3, h4, h5{
    color: var(--color-white);
    line-height: 1.3;
  }
  
  h1{
    font-size: 3rem;
    margin: 1rem 0;
  }
  
  h2{
    font-size: 1.7rem;
    margin: 1rem 0;
  }
  
  h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
  }
  
  h4{
    font-size: 1rem;
  }
  
  a{
    color: var(--color-white);
    transition: var(--transition);
  }
  
  img{
    display: block;
    width: 100%;
    object-fit: cover;
  }

  /* nav styles starts */

  nav{
    background: var(--color-bg);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  
  }

  nav button{
    display: none;
  }
  
  .nav_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .logo{
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  /* .hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  } */
  


  .hero .slider{
    position: relative;
    width: 60%;
    overflow: hidden;
    margin-top: 5rem;
  }

  .hero .images{
    display: flex;
    width: 100%;
  }

  .hero .images img{
    height: 400px;
    width: 100%;
    transition: var(--transition);
  }

  .hero .images input{
    display: none;

  }

  .hero .dots{
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .hero .dots label{
    height: 20px;
    width: 20px;
    border-radius: var(--card-border-radius-5);
    border: solid 3px black;
    cursor: pointer;
    transition: var(--transition);
    margin: 5px;
    
  }

  .hero .dots label:hover{
    background: black;
  }

  .hero #img1:checked ~ .m1 {
    margin-left: 0;
  }
  .hero #img2:checked ~ .m2 {
    margin-left: -100%;
  }
  .hero #img3:checked ~ .m3 {
    margin-left: -200%;
  }
  .hero #img4:checked ~ .m4 {
    margin-left: -300%;
  }
  .hero #img5:checked ~ .m5 {
    margin-left: -400%;
  }



  .hero aside{
    position: absolute;
    width: 370px;
    height: 1569px;
    right: 0px;
    top: 45px;
    border: 3px solid var(--color-black);
    margin-top: 5rem;
    margin-right: 5rem;
  }


  /* footer styles */

  footer{
    background: var(--color-primary);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    bottom: 0;
  }

  .footer_copyright{
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    margin-top: 4rem;
  }

  .footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .left .nav-items{
    margin-top: 1.5rem;
  }

  .left .nav-items a{
    font-size: 1.0rem;
    
  }

  .left .nav-items a:hover{
    cursor: pointer;
    color: var(--color);
    transform: scale(1.3);
    text-transform: uppercase;
  }

  .left .search{
    display: flex;
    margin-bottom: 2rem;
   
    
 }

 .left .search input{
  width: 80%;
  height: 2.8rem;
  border-radius: 0.6rem;
  margin-top: 2rem; 
  
}

.left .line{
  border-bottom: 1px solid var(--color-black);
}



.left .socials{
  margin-inline: auto;
  width: fit-content;
  margin-top: 2.2rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  left: 0;
}

.left .socials a{
  background-color: var(--color-bg);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .socials a:hover{
  background: var(--color-white);
  color: var(--color);
}

.center{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-left: 2rem;
}

.center h4{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.center li{
  line-height: 1.5;
  margin-bottom: 1rem;
}
.center li:hover{
  cursor: pointer;
  color: var(--color);
  transform: scale(1.2);
  text-transform: uppercase;
}


.right{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  right: 0;
  margin-left: 2rem;
 
}

.right h4{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.right li{
  line-height: 1.5;
  margin-bottom: 1rem;
}
.right li:hover{
  cursor: pointer;
  color: var(--color);
  transform: scale(1.2);
  text-transform: uppercase;
}


/* footer styles end */

  




/* guide page styles begin */

.main h2{
    margin-top: 5rem;
    margin-left: 5rem;
}

.main h3{
    margin-top: 2rem;
    margin-left: 7rem;
}

.main .boxes{
    margin: 7rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.main .boxes .box{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 1rem;
    height: 150px;
    width: 320px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.main .boxes .box a{
    position: relative;
    margin: 1rem;
    margin-left: 2rem;
    text-transform: uppercase;
    color: var(--color);
    font-weight: bold;

}

.main h2{
  text-transform: uppercase;
  color: var(--color);
}

.main .boxes .box h3{
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 0.5rem; 

}


/* guidebox styles */

.main h1{
  font-size: 1.8rem;
  margin: 2rem;
  font-weight: bold;
  margin-top: 7rem;
  margin-bottom: -2rem;
}

.main h3{
  margin-left: 5rem;
}

.main p{
  text-transform: none;
  font-size: 1rem;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
}




/* guide page styles end */





/* Responsiveness and media queries */

@media screen and (max-width:1024px) {
  
  .container{
    width: var(--container-width-md);
  }

  h2{
    font-size: 1.6rem;
  }

  h3{
    font-size: 1.2rem;
  }

  h5{
    font-size: 0.8rem;
  }

  .main .boxes{
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .footer-container{
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

}