

:root{
    --color-primary: #c3c3c3;
    --color: #0075ff;
    --color-light: #479cff;
    --color-bg: #f6f6f6;
    --color-black: #1e1e1e;
    --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;

  --card-border-radius-1: 0.3rem; 
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;    
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    appearance: 0;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    font-family:  sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    color:var(--color-gray-200);
    background:var(--color-bg);
    font-size: 0.9rem;
  }
  
  .container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
  }

  .variable{
    margin: 6rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  section{
    margin-top: 3rem;
    width: 100vw;
  }
  
  h1, h2, h3, h4, h5{
    color: var(--color-white);
    line-height: 1.3;
  }
  
  h1{
    font-size: 3rem;
    margin: 1rem 0;
  }
  
  h2{
    font-size: 1.7rem;
    margin: 1rem 0;
  }
  
  h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
  }
  
  h4{
    font-size: 1rem;
  }
  
  a{
    color: var(--color-white);
    transition: var(--transition);
  }
  
  img{
    display: block;
    width: 100%;
    object-fit: cover;
  }

  /* button{
    width: 100%;
    height: 2.7rem;
    background: var(--color-primary);
  } */

  /* nav styles starts */

  nav{
    background: var(--color-bg);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 5px var(--color-black);
  
  }

  nav button{
    display: none;
  }

  
  
  .nav-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .logo{
    font-weight: 600;
    font-size: 1.2rem;
    width: 3rem;
    height: 2.5rem;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    gap: 4rem;

  }

  .navbar li:hover{
    cursor: pointer;
    color: var(--color);
  }

  .scout{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-weight: bolder;
    font-size: 1.4rem;
  }

  /* hero section styles */

  .hero-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5rem;
    margin-top: 2rem;
    padding: 0.7rem;
  }

  .hero{
    width: 70%; 
    /* margin-right: -30rem; */
  }

  .hero .slider{
    position: relative;
    /* width: 60%; */
    overflow: hidden;
    margin-top: 5rem;
    width: 100%;
  }

  .hero .images{
    display: flex;
    width: 100%;
  }

  .hero .images img{
    height: 400px;
    width: 100%;
    transition: var(--transition);
    object-fit: contain;
  }

  .hero .images input{
    display: none;

  }

  .hero .dots{
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .hero .dots label{
    height: 10px;
    width: 10px;
    border-radius: var(--card-border-radius-5);
    border: solid 1px var(--color-primary);
    cursor: pointer;
    transition: var(--transition);
    margin: 2px;
    
  }

  .hero .dots label:hover{
    background: var(--color);
  }

  .hero #img1:checked ~ .m1 {
    margin-left: 0;
  }
  .hero #img2:checked ~ .m2 {
    margin-left: -100%;
  }
  .hero #img3:checked ~ .m3 {
    margin-left: -200%;
  }
  .hero #img4:checked ~ .m4 {
    margin-left: -300%;
  }
  .hero #img5:checked ~ .m5 {
    margin-left: -400%;
  }

  .hero .under{
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .hero .under .uno{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .hero .under .uno #link{
    color: var(--color);
    font-weight: bold;
    margin-left: 18rem;
    margin-top: 1rem;
  }

  .hero .under .uno .newses{
    box-shadow: 0 0 5px var(--color-primary);
    border-radius: 0.3rem;
    padding: 1rem;
  }

  .hero .under .uno .newses .news-text h4{
    color: var(--color);
    font-size: 0.75rem;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .hero .under .uno .newses .news-text {
    margin: 0.7rem;
  }

  .hero .under .uno .newses .news-text span{
    color: var(--color-black);
    font-size: 0.75rem;
  }

  .hero .under .uno .newses .news-text p{
    font-size: 0.7rem;
    font-weight: bold;
  }

  .hero .under .dos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  } 

  .hero .under .dos #link{
    color: var(--color);
    font-weight: bold;
    margin-left: 18rem;
    margin-top: 1rem;
  }

  .hero .under .dos .newses{
    box-shadow: 0 0 5px var(--color-primary);
    border-radius: 0.3rem;
    padding: 1rem;
  }

  .hero .under .dos .newses .news-text h4{
    color: var(--color);
    font-size: 0.75rem;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .hero .under .dos .newses .news-text {
    margin: 0.7rem;
  }

  .hero .under .dos .newses .news-text span{
    color: var(--color-black);
    font-size: 0.75rem;
  }

  .hero .under .dos .newses .news-text p{
    font-size: 0.7rem;
    font-weight: bold;
  }


  .recommended{
    width: 30%;
    right: 0;
    margin-top: 7rem;
    margin: 5rem;
  }

   .recommended .aside{    
    
    border-radius: 0.3rem;
    padding: 0.5rem;
    box-shadow: 0 0 5px var(--color-primary);
    
   }

   .recommended .aside .newses{
     box-shadow: 0 0 5px var(--color-primary);
     /* border-top: 0.6px solid var(--color-black); */
     margin: 1rem;

   }

   .next-container{
    margin-top: -5rem;
   }

  
   .next-container #rel{
    font-size: 1.0rem;
    font-weight: bold;
   }

   .next-container #sub{
    color: var(--color);
    font-weight: bold;
    font-size: 0.8rem;
   }

   .next-container span{
    font-size: 0.8rem;
    font-weight: bold;
   }

   .next{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }


   .next .newses{
    box-shadow: 0 0 5px var(--color-primary);
    border-radius: 0.3rem;
    padding: 1rem;
   }

   /* gradient section styles */

   .gradient-container{
   

     background: linear-gradient(to left, #ff3232, #479cff);
   }

   .gradient{
    align-items: center;
    justify-content: center;
    align-self: center;
    
   }

   .gradient h3{
    color: var(--color-bg);
    padding-top: 2rem;
    margin-bottom: 2rem;
   }

   .gradient h4{
    color: var(--color-bg);
    padding-bottom: 1.6rem;
   }

   .gradient .items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
   }

   .gradient .items .item{
     display: flex;
     flex-direction: column;
     margin: 0.6rem;
     margin-bottom: 5rem;

   }

   .gradient .items .item a{
     border-bottom: 1px solid var(--color-bg);
     border-radius: 0.2rem;
     margin: 0.35rem;
     color: var(--color-bg);
     padding-right: 1rem;
   }

   .gradient .button{
     display: inline;
     background: var(--color-bg);
     border: 1px solid transparent;
     padding: 1rem;
     border-radius: 0.2rem;
     margin-bottom: 3rem;
     margin-right: 30rem;
   }

   .gradient .button h3{
     color: var(--color);
     font-weight: bolder;
     
   }

   



   

  


  /* newsletter section */

  .newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);

  }

  .card{
    width: 100%;
    height: 30%;
    background: var(--color-bg);
    box-shadow: 0 0 5px var(--color-primary);
    border-radius: 10px;
    display: flex;
    margin-bottom: 2.5rem;

  }

  .card .col-1{
    flex-basis: 65%;
    width: 300px;
    height: 250px;
    float: left;
  }

  .col-1 .letter{
    margin: 3rem 2rem;
  }

  .letter h4{
    color: var(--color-black);
    font-weight: 700;
    font-size: 1.8rem;
  }

  .letter p{
    color: var(--color-black);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
    opacity: 0.7;
  }

  .letter .form{
    margin: 1.2rem 0;
  }

  .letter .form input{
    width: 24rem;
    height: 2rem;
    padding-left: 1rem;
  }

  .letter .form a{
    padding:  0.5rem 1rem;
    background: var(--color);
    color: var(--color-primary);
  }


  .card .col-2{
    flex-basis: 35%;
  }

  .col-2 img{
    width: 90%;
    height: 90%;
    margin: 0.8rem;
  }



  /* newsletter styles end */




  /* exclusive page styles start */

  

  /* exclusive page styles end */

.exclusive-container{
    display: flex;
}

.exclusive{
  width: 70%;
  margin: 3rem;
  margin-top: 5rem;
}

.exclusive .rows{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

}



.exclusive .rows .row-img img{
  width: 90%;
  height: 80%;
}

.exclusive .row-text{
  margin-left: -0.5rem;
}

.exclusive .row-text h5{
  text-transform: uppercase;
  margin-top: 0.5rem
}
.exclusive .row-text a{
  color: var(--color);
  text-transform: uppercase;
  
}

.exclusive .row-text h4{
  margin-top: 0.5rem;
}

.exclusive .row-text p{
  margin-top: 1rem;
}



  /* content page styles begins */

  
.content-container{
    display: flex;
}

.content{
  width: 70%;
  margin: 3rem;
  margin-top: 5rem;
}

.content .content-text h5{
  color: var(--color-black);
  font-weight: lighter;
  margin-bottom: 1rem;
}

.content .content-text p{
  margin-bottom: 0.9rem;
}

/* .content .content-text .icons{
  display: flex;
  flex-direction: row;
 
} */

.content  .fill{
  display: flex;
  flex-direction: column;
}

.content .fill form{
  margin: 2rem;
}

.content .fill input{
  width: 42rem;
  height: 3rem;
  margin-bottom: 1.5rem;
  border-radius: 0,4rem;
}

.content .fill input::after{
  font-size: 1rem;
  font-weight: bold;
}

.content .fill textarea{
  width: 42rem;
  height: 7rem;
  margin-bottom: 1.5rem;
  border-radius: 0,4rem;
}

.content .fill button{
  left: 0;
}



  /* content page styles ends */

  /* all news styles */
  .all-container{
    display: grid;
    /* place-items: center; */
  }

  .all-container h3{
    left: 0;
    margin-top: 2.5rem;
  }

  .all-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .all-news .newses{
    /* border: 0.8px solid var(--color-black); */
    border-radius: 0.2rem;
    box-shadow: 0 0 5px var(--color-primary);
  }

  .all-news .newses .news-image{
    margin: 1.15rem;
    position: relative;

  }

  .all-news img{
    border-radius: 0.2rem;
    display: block;
  }

  .all-news .newses .news-text{
    margin: 1rem;
  } 

  .all-news .newses .news-text h4{
    text-transform: uppercase;
    color: var(--color);
    font-size: 0.9rem;
    font-weight: bold;
  }

  .all-news .newses .news-text span{
    color: var(--color-black);
    text-transform: uppercase;
  }

  
  .all-news .newses .news-text p{
    font-size: 0.75rem;
  }

  .btn{
    width: 80%;
    background: var(--color-primary);
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    margin: 1.2rem;
    margin-left: 8rem;
    
  }

  .btn:hover{
    transform: scale(1.14);
    cursor: pointer;
  }

  .btn h4{
    color: var(--color);
    text-transform: capitalize;
    text-align: center;
  }


  /* content page styles end */

  /* footer styles */

  footer{
    background: var(--color-primary);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    bottom: 0;
  }

  .footer_copyright{
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    margin-top: 4rem;
  }

  .footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .left{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .left .nav-items{
    margin-top: 1.5rem;
  }

  .left .nav-items a{
    font-size: 1.0rem;
    
  }

  .left .nav-items a:hover{
    cursor: pointer;
    color: var(--color);
    transform: scale(1.3);
    text-transform: uppercase;
  }

  .left .search{
    display: flex;
    margin-bottom: 2rem;
   
    
 }

 .left .search input{
  width: 80%;
  height: 2.8rem;
  border-radius: 0.6rem;
  margin-top: 2rem; 
  
}

.left .line{
  border-bottom: 1px solid var(--color-black);
}



.left .socials{
  margin-inline: auto;
  width: fit-content;
  margin-top: 2.2rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  left: 0;
}

.left .socials a{
  background-color: var(--color-bg);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .socials i{
  font-size: 1.2rem;
}

.left .socials a:hover{
  background: var(--color-white);
  color: var(--color);
}

.center{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-left: 2rem;
}

.center h4{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.center li{
  line-height: 1.5;
  margin-bottom: 1rem;
}
.center li:hover{
  cursor: pointer;
  color: var(--color);
  transform: scale(1.2);
  text-transform: uppercase;
}


.right{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  right: 0;
  margin-left: 2rem;
 
}

.right h4{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.right li{
  line-height: 1.5;
  margin-bottom: 1rem;
}
.right li:hover{
  cursor: pointer;
  color: var(--color);
  transform: scale(1.2);
  text-transform: uppercase;
}


/* footer styles end */

  




/* guide page styles begin */

.main h2{
    margin-top: 5rem;
    margin-left: 5rem;
}

.main h3{
    margin-top: 2rem;
    margin-left: 7rem;
}

.main .boxes{
    margin: 7rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.main .boxes .box{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 1rem;
    height: 150px;
    width: 320px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.main .boxes .box a{
    position: relative;
    margin: 1rem;
    margin-left: 2rem;
    text-transform: uppercase;
    color: var(--color);
    font-weight: bold;

}

.main h2{
  text-transform: uppercase;
  color: var(--color);
}

.main .boxes .box h3{
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 0.5rem; 

}


/* guidebox styles */

.main h1{
  font-size: 1.8rem;
  margin: 2rem;
  font-weight: bold;
  margin-top: 7rem;
  margin-bottom: -2rem;
}

.main h3{
  margin-left: 5rem;
}

.main p{
  text-transform: none;
  font-size: 1rem;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
}




/* guide page styles end */





/* Responsiveness and media queries */

@media screen and (max-width:1084px) {

  body{
  
  font-size: 1.1rem;
}



  
  .container{
    width: var(--container-width-md);
  }

  h2{
    font-size: 1.6rem;
  }

  h3{
    font-size: 1.2rem;
  }

  h5{
    font-size: 0.8rem;
  }

  p{
    font-size: 1.2rem;
  }

  a{
    font-size: 1.2rem;
  }

  nav button{
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    color: var(--color);
  }

  nav button#close-nav{
    display: none;

  }

  .nav_container{
    position: relative;
  }

  .navbar{
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    display: none;
  }

  .navbar li{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    border-top: 1px solid var(--color);
    animation: animateDropdown 1s 0s ease forwards;
    transform-origin: top;
  }

  .navbar li a{
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  
  .hero-container{
    display: grid;
  }

  .hero{
    order: 1;
    width: 70%;
    align-self: center;
  }

  .hero .slider{
    height: 80%;
  }

  .exclusive-container{
    display: grid;
 }

 .content-container{
   display: grid;
  }

  .content{
    order: 1;
    width: 70%;
    align-self: center;
  }

  .exclusive{
    order: 1;
    width: 70%;
    align-self: center;
  }
  

  .recommended{
    order: 2;
    width: 70%;
    align-self: center;
  }


  .hero .under .uno{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-content: center;
  }

  .hero .under .dos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-content: center;
  }

  .gradient .items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
   }

  .exclusive .rows{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .content .content-text h5{
    color: var(--color-black);
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  
  .content .content-text p{
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  
  .next{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .all-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
  }



  .main .boxes{
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .footer-container{
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

}


@media(max-width:640px){

  body{
  
    font-size: 1.4rem;
  }
  
  

  section{
    margin-top: 2rem;
  }

  h1{
    font-size: 2rem;
  }

  p{
    font-size: 1.4rem;
  }

  a{
    font-size: 1.4rem;
  }

  .hero-container{
    display: grid;
  }

  .exclusive-container{
    display: grid;
 }

 .content-container{
   display: grid;
  }

 
  .hero{
    order: 1;
    width: 95%;
    align-self: center;
    margin-right: 1rem;
  }

  .hero .slider{
    height: 90%;
  }

  .content{
    order: 1;
    width: 95%;
    align-self: center;
    margin-right: 1rem;
  }

  .exclusive{
    order: 1;
    width: 95%;
    align-self: center;
    margin-right: 1rem;
  }

  .recommended{
    order: 2;
    width: 90%;
    align-self: center;
    margin-left: -1.2rem;
    /* margin-right: 1rem; */
  }

  
  .next{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .gradient .items{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
   }

  .content-container{
    align-items: center;
    margin-left: -1.3rem;
  }

  
  .exclusive-container{
    align-items: center;
    margin-left: -1.3rem;
  }

  .content .content-text h5{
    color: var(--color-black);
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }
  
  .content .content-text p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .all-news{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  
  .main .boxes{
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer-container{
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .main .boxes .box{
   align-self: center;
    border-radius: 1rem;
    height: 135px;
    width: 300px;
    margin-left: -1.7rem;
    
}



}